h1{
  text-align: center;
  color: navy;
}

p{
  font-style: italic;
  font-family: cursive;
}

body{
  text-rendering: optimizeSpeed;
  background-color: skyblue;
  text-emphasis-color: red;
  text-align:justify;
}

li{
    color: red;
    font-family: fantasy;
}

a{
  color: red;
}

p{
  text-align: center;
  background-color: inherit;
}
